<template>
  <div class="user-list-container">
    <template v-if="$data._mode == $data._viewMode.Loading">
      <p>Loading users...</p>
    </template>
    <template v-if="$data._mode == $data._viewMode.Success">
      <UserCard v-for="user in $data._users" v-bind:key="user.id" :user="user"/>
    </template>
    <template v-if="$data._mode == $data._viewMode.Error">
      <p>Error loading users. Try again later.</p>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component, { mixins } from "vue-class-component";

import { UserListModel, UserQueryResult } from "@/models/UserModels";

import { UserServiceComponentMixin } from "@/components/mixins";
import UserCard from "@/components/UserCard.vue";

@Component({
  components: {
    UserCard: UserCard
  }
})
export default class UserList extends mixins(UserServiceComponentMixin) {
  _users = [];

  mounted() {
    this._loadData(
      this._service.getUsers(),
      (result: UserQueryResult<UserListModel[]>) => {
        this.$data._users = result.data;
      }
    );
  }
}
</script>

<style lang="scss" scoped>
.user-list-container {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-column-gap: 20px;
  justify-content: center;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 230px);
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 230px);
  }
  @media only screen and (max-width: 640px) {
    grid-template-columns: 230px;
  }
}
</style>


