<template>
    <div class="user-base-info">
        <div class="user-img">
            <img src="@/assets/img.png" />
        </div>
        <p class="user-name">{{_name}}</p>
        <p class="user-age">{{_age}} years</p>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

import { UserListModel } from "@/models/UserModels";

@Component
export default class UserCard extends Vue {
  @Prop()
  _name!: string;
  @Prop()
  _age!: number;
}
</script>

<style lang="scss" scoped>
@import "@/variables.scss";

.user-base-info {
  .user-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  .user-name {
    font-size: $large-font-size;
    font-weight: bold;
  }

  .user-age {
    font-size: $small-font-size;
    color: #888888;
  }
}
</style>

