<template>
  <div class="user-country">
    <template v-if="!$data._editMode">
      <p class="user-country-name" v-on:click="_openEditMode">{{$data._country}}</p>
    </template>
    <template v-if="$data._editMode">
      <div class="edit-mode-container">
        <div class="edit-mode">
          <label :for="'country'">Country:</label>
          <input v-model="$data._country" :id="'country'">
          <button v-on:click="_changeCountry">Submit</button>
          <p v-if="$data._isSaveErrorShowed">Error saving country. Try again later.</p>
          <p v-if="$data._isValidateErrorShowed">Country can not be empty.</p>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import { UserDetailModel, UserQueryResult } from "@/models/UserModels";

@Component
export default class UserCountry extends Vue {
  @Prop() _initialCountry!: string;

  get country() {
    return this.$data._country;
  }
  set country(value: string) {
    this.$data._country = value;
  }

  _editMode = false;
  _isValidateErrorShowed = false;
  _isSaveErrorShowed = false;
  _country = null;

  mounted() {
    this.$data._country = this._initialCountry;
    this.$data._editMode = this._initialCountry ? false : true;
  }

  showSaveError() {
    this.$data._isSaveErrorShowed = true;
  }

  _openEditMode() {
    this.$data._editMode = true;
    this.$data._isSaveErrorShowed = false;
  }

  _changeCountry() {
    if (!this.country) {
      this.$data._isValidateErrorShowed = true;
    } else {
      this.$data._isValidateErrorShowed = false;
      this.$data._editMode = false;
      this.$emit("countryChangeSubmitted", { country: this.country });
    }
  }

  @Watch('country')
  onCountryChanged(val: string, oldVal: string) { 
    this.$data._isValidateErrorShowed = false;
    this.$data._isSaveErrorShowed = false;
  }
}
</script>

<style lang="scss" scoped>
@import "@/variables.scss";

p {
  font-size: $medium-font-size;
}

.edit-mode {
  margin: 0 auto;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  label {
    font-size: $small-font-size;
  }

  button {
    height: 30px;
    border: none;
    background-color: #47b2ff;
    cursor: pointer;
    font-size: $small-font-size;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px 20px;
  }

  button:hover {
    background-color: #0796fb;
  }

  input {
    height: 28px;
    padding: 0 10px;
    border: 1px solid #47b2ff;
    border-radius: 2px;
    font-size: $small-font-size;
  }

  input:focus,
  input:hover {
    box-shadow: 0px 0px 4px #47b2ff;
  }
}
</style>

