<template>
  <div class="user-card" v-on:click="_onCardClick">
    <UserBaseInfo :_name="user.name" :_age="user.age"/>
    <div class="user-card-languages">
      <span>{{user.languages.join(", ")}}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import router from "@/router";

import { UserListModel } from "@/models/UserModels";
import UserBaseInfo from "@/components/UserBaseInfo.vue";

@Component({
  components: {
    UserBaseInfo: UserBaseInfo
  }
})
export default class UserCard extends Vue {
  @Prop({ type: Object as () => UserListModel })
  user!: UserListModel;

  _onCardClick(): void {
    router.push({ name: "user", params: { userId: `${this.user.id}` } });
  }
}
</script>

<style lang="scss" scoped>
@import "@/variables.scss";

.user-card {
  background-color: #ffffff;
  width: 150px;
  margin: 15px;
  padding: 35px 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 6px;

  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.18);
  }

  .user-card-languages span {
    font-size: $small-font-size;
  }
}
</style>

