<template>
  <div class="user-details">
    <div class="user-details-back">
      <router-link to="/">
        <i class="fas fa-long-arrow-alt-left"></i>Back
      </router-link>
    </div>
    <template v-if="$data._mode == $data._viewMode.Loading">
      <p>Loading user...</p>
    </template>
    <template v-if="$data._mode == $data._viewMode.Success">
      <UserBaseInfo :_name="$data._userDetails.name" :_age="$data._userDetails.age"/>
      <UserCountry
        ref="countryComponent"
        :_initialCountry="$data._userDetails.country"
        v-on:countryChangeSubmitted="_onCountryChangeSubmitted"
      />
      <hr>
      <div
        v-for="(knowledge, index) in $data._userDetails.knowledge"
        v-bind:key="index"
        class="user-details-knowledge"
      >
        <div class="user-details-language">
          <p class="user-details-language-name">{{knowledge.language}}</p>
          <ul class="user-details-frameworks">
            <li
              v-for="(framework, findex) in knowledge.frameworks"
              v-bind:key="findex"
            >{{framework}}</li>
          </ul>
        </div>
      </div>
    </template>
    <template v-if="$data._mode == $data._viewMode.Error">
      <p>Error loading user. Try again later.</p>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component, { mixins } from "vue-class-component";

import { UserDetailModel, UserQueryResult } from "@/models/UserModels";

import { UserServiceComponentMixin } from "@/components/mixins";
import UserCountry from "@/components/UserCountry.vue";
import UserBaseInfo from "@/components/UserBaseInfo.vue";

@Component({
  components: {
    UserCountry: UserCountry,
    UserBaseInfo: UserBaseInfo
  }
})
export default class UserCard extends mixins(UserServiceComponentMixin) {
  _userId = null;
  _userDetails = null;

  mounted() {
    this.$data._userId = this.$route.params.userId;

    this._loadData(
      this._service.getUserById(this.$data._userId),
      (result: UserQueryResult<UserDetailModel>) => {
        this.$data._userDetails = result.data;
      }
    );
  }

  _onCountryChangeSubmitted(data: any) {
    let newCountry = data.country;
    if (newCountry && newCountry !== this.$data._userDetails.country) {
      this._service
        .updateUserCountry(this.$data._userDetails.id, newCountry)
        .then((result: UserQueryResult<{}>) => {
          if(result.success) {
            this.$data._userDetails.country = newCountry;
            (this.$refs['countryComponent'] as UserCountry).country = newCountry;
          } else {
            (this.$refs['countryComponent'] as UserCountry).country = this.$data._userDetails.country;
            (this.$refs['countryComponent'] as UserCountry).showSaveError();
          }
          this.$data._showSaveError = !result.success;       
        });
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/variables.scss";

.user-details {
  padding: 20px;
  .user-details-back {
    font-size: $large-font-size;
    font-weight: bold;
    color: #000000;
    text-align: left;

    a {
      text-decoration: none;
    }

    a:visited {
      color: #000000;
    }
  }

  hr {
    color: #d5d5d5;
    background-color: #d5d5d5;
    border: none;
    height: 1px;
  }

  .user-details-language {
    font-size: $medium-font-size;
    display: inline-block;

    .user-details-language-name {
      font-weight: bold;
      margin: 0;
    }

    .user-details-frameworks {
      padding: 0;
      text-align: center;

      li {
        display: inline;
        white-space: nowrap;
      }

      li:after {
        content: " \00b7";
      }
      li:last-child:after {
        content: none;
      }
    }
  }
}
</style>

